.tv-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tv-screen {
    position: relative;
    background-image: url(../assets/tv.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    align-items: center;
    width: 900px;
    height: 500px;
    border-radius: 10px;
    color: rgb(8, 1, 1);
    overflow: hidden;
}

.tv-screen h1{
    font-family: monospace;
    text-align: center;
    position:relative;
    top: 125px;
    left: -20px;
}

.tv-screen li{
    font-family: monospace;
    font-size: large;
    list-style: none;
    position: relative;
    top: 115px;
    left: 300px;
    gap: 10px;
}

.tv-screen .showOverlay button{
    position: relative;
    top: 200px;
    left: 260px;
    background-color: transparent;
    padding: 2%;
   border: none;

}

.tv-screen .watchListOverlay button{
    position: relative;
    top: 160px;
    left: 330px;
    background-color: transparent;
    padding: 2%;
    border: none;

}

.tv-screen .surveyOverlay button{
    position: relative;
    top: 120px;
    left: 395px;
    background-color: transparent;
    padding: 2%;
    border: none;
   border: none;
}

.tv-screen .surveyResultsOverlay button{
    position: relative;
    top: 85px;
    left: 462px;
    background-color: transparent;
    padding: 2%;
     border: none;
}
.tv-screen .pink button{
    position: relative;
    top: 45px;
    left: 530px;
    background-color: transparent;
    padding: 2%;
     border: none;
}