.tvShows-main{
    background-color: rgb(16, 15, 15);
    margin: auto;
    border: 15px solid #22111d;
    border-radius: 5px;
}

.tvShows-screen{
    background-color: #589687;
    margin: auto;
    padding: 10px;
    gap: 10px;
}

.tvShows-screen h1{
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 1px #827171;
}

.tvShows-screen p{
    text-align: justify;
    font-family: monospace;
    font-size: medium;
    background-color: #8dddb9;
    border: 2px solid black;
    border-radius: 5px;

    padding: 5px;

}
.tvShows-main ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    list-style-type: none;
    justify-content: center;
}

.tvShows-main ul button{
    max-width: max-content;
    max-height: auto;
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    font-family: monospace;
    background-color: #ccc;
}

.tvShows-main ul button:hover{
    background-color: #e5d6d7;
}